.header {
  display: flex;
  width: 100%;
  padding: 0.8rem 2rem;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  align-items: center;
}

.headerMinimal {
  border: none;
}

.headerLogo {
}

.headerLinks {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.headerCenter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSearchContainer {
  max-width: 20rem;
  max-width: clamp(30rem, 35vw, 40rem);
  width: 100%;
}

@media (max-width: 480px) {
  .header {
    padding: 0.8rem 1rem;
  }
  /* Search */
  .headerCenter {
    margin-top: 0.5rem;
    order: 3;
  }

  .headerLinks {
    margin-left: auto;
  }

  .headerLogo {
    order: 1;
  }

  .headerLinks {
    order: 2;
  }

  .headerLinkGithub {
    width: 22px;
    height: 22px;
    margin-right: 0.5rem;
  }
}
