.header {
  width: 100%;
  padding: 0.8rem 2rem;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: auto 1fr auto; /* Adjust the ratio as needed */
  grid-template-areas: "logo search links";
  gap: 0.5rem;
}

.headerMinimal {
  border: none;
}

.headerLogo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.headerLinks {
  margin-left: auto;
  display: flex;
  align-items: center;
  grid-area: links;
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: search;
}

.headerSearchContainer {
  max-width: 20rem;
  max-width: clamp(30rem, 35vw, 40rem);
  width: 100%;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .header {
    grid-template-columns: 1fr; /* Stack elements in one column */
    grid-template-rows: auto auto; /* Two rows */
    grid-template-areas:
      "logo links"
      "search search";
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.8rem 1rem;
  }
  /* Search */
  .headerCenter {
    margin-top: 0.5rem;
  }

  .headerLinks {
    margin-left: auto;
  }

  .headerLinkGithub {
    width: 22px;
    height: 22px;
    margin-right: 0.5rem;
  }
}
