body {
  font-size: 15px;
}

:root {
  --font-family-code: "SF Mono", "JetBrains Mono", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --shadow-overlay: 0px 10px 15px rgba(32, 37, 46, 0.15),
    0px 3px 5px rgba(23, 26, 33, 0.21);
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  :root[data-theme="light"],
  :root[data-theme="dark"],
  :root[data-theme="os"] {
    color-scheme: light !important;
    --light-color-active-menu-item: #efeff0;
    --dark-color-active-menu-item: #efeff0;

    --light-color-text: #222;
    --dark-color-text: #222;

    --light-color-ts-project: #2548b6;
    --dark-color-ts-project: #2548b6;

    --light-color-ts-enum: #0585ae;
    --dark-color-ts-enum: #0585ae;
    --light-color-ts-enum-background: #dcf2f2;
    --dark-color-ts-enum-background: #dcf2f2;

    --light-color-ts-namespace: #1305ae;
    --dark-color-ts-namespace: #1305ae;
    --light-color-ts-namespace-background: #ececf4;
    --dark-color-ts-namespace-background: #ececf4;

    --light-color-ts-variable: #78059e;
    --dark-color-ts-variable: #78059e;
    --light-color-ts-variable-background: #eee1f2;
    --dark-color-ts-variable-background: #eee1f2;

    --light-color-ts-type-parameter: #403e48;
    --dark-color-ts-type-parameter: #403e48;

    --light-color-ts-function: #6639ba;
    --light-color-ts-function-background: #e9e9f2;
    --dark-color-ts-function: #6639ba;
    --dark-color-ts-function-background: #e9e9f2;

    --light-color-ts-class: #0550ae;
    --light-color-ts-class-background: #dce7f2;
    --dark-color-ts-class: #0550ae;
    --dark-color-ts-class-background: #dce7f2;

    --light-color-ts-interface: #04679f;
    --light-color-ts-interface-background: #e1ecf2;
    --dark-color-ts-interface: #04679f;
    --dark-color-ts-interface-background: #e1ecf2;

    --light-color-ts-type-alias: #ae05a7;
    --light-color-ts-type-alias-background: #f4ebf4;
    --dark-color-ts-type-alias: #ae05a7;
    --dark-color-ts-type-alias-background: #f4ebf4;

    --light-color-accent: rgb(237, 237, 242);
    --light-code-background: rgb(245, 245, 247);
    --light-color-background: #f7f7f8;
    --light-color-background-secondary: #f5f5f7;
    --dark-color-accent: rgb(237, 237, 242);
    --dark-code-background: rgb(245, 245, 247);
    --dark-color-background: #f7f7f8;
    --dark-color-background-secondary: #f5f5f7;

    /* Highlight Colors */
    --light-hl-0: #2f626c;
    --light-hl-1: #000000;
    --light-hl-2: #0070c1;
    --light-hl-3: #181818;
    --light-hl-4: #4e17b8;
    --light-hl-5: #2f626c;
    --light-hl-6: #2f626c;

    --dark-hl-0: #2f626c;
    --dark-hl-1: #000000;
    --dark-hl-2: #0070c1;
    --dark-hl-3: #181818;
    --dark-hl-4: #4e17b8;
    --dark-hl-5: #2f626c;
    --dark-hl-6: #2f626c;

    --light-color-text-aside: #82868a;
    --light-color-link: #1f59c2;

    --dark-color-text-aside: #82868a;
    --dark-color-link: #1f59c2;

    /* Custom */
    --light-color-text-light: #62636a;
    --light-color-separator: #f7f7f7;
    --light-color-separator-dark: #e4e4e4;

    --dark-color-text-light: #62636a;
    --dark-color-separator: #f7f7f7;
    --dark-color-separator-dark: #e4e4e4;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-ts-function-background: var(--light-color-ts-function-background);
    --color-ts-class-background: var(--light-color-ts-class-background);
    --color-ts-variable-background: var(--light-color-ts-variable-background);
    --color-ts-interface-background: var(--light-color-ts-interface-background);
    --color-ts-enum-background: var(--light-color-ts-enum-background);
    --color-ts-type-alias-background: var(
      --light-color-ts-type-alias-background
    );
    --color-ts-namespace-background: var(--light-color-ts-namespace-background);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light !important;
  }
}

:root {
  color-scheme: only light;
  --primary-bg-color-transparent: rgba(247, 249, 250, 0.85);
}

html {
  color-scheme: light;
}

pre {
  border: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--light-color-separator);
  margin: 1em 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

h4 {
  margin: 1.2rem 0;
}

.container {
  background: white;
}

@media (min-width: 770px) {
  #docs-header {
    height: 61px;
    background: var(--primary-bg-color-transparent);
  }
}

@media (min-width: 770px) {
  .container-main .col-content {
    padding: 0 2rem;
    margin-top: 2rem;
  }

  .container-main {
    margin: 0;
  }
}

a.tsd-index-link {
  font-size: 0.9rem;
}

.tsd-navigation {
  font-size: 14px;
  padding-top: 1rem;
}

.tsd-nested-navigation {
  margin-left: 2.2rem;
}

.tsd-index-content > :not(:first-child) {
  padding: 0 1rem;
}

/* Hide visibility selector and themer */
.tsd-theme-toggle {
  display: none;
}

.tsd-navigation .tsd-kind-icon {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  margin-right: 0.4rem;
}

.tsd-navigation a,
.tsd-navigation summary > span,
.tsd-page-navigation a {
  display: block;
}

.container .site-menu {
  background: #fff;
  height: 100%;
  border-right: 1px solid var(--light-color-separator);
  overflow: visible;
}

.container .site-menu > div {
  height: 100%;
}

@media (min-width: 770px) and (max-width: 1399px) {
  .site-menu {
    margin-top: 0;
  }
}

.page-menu {
  border-left: 1px solid var(--light-color-separator);
  background-image: var(--sidebar-background);
}

.tsd-signature,
.tsd-kind-parameter,
.tsd-kind-property,
.tsd-parameter h5,
.tsd-signature-type,
.tsd-signature-symbol,
code,
pre {
  font-family: var(--font-family-code);
}

.tsd-kind-icon ~ span {
  font-family: var(--font-family-system);
}

#tsd-search .results span.parent {
  color: var(--light-color-text-light);
}

.tsd-navigation .tsd-accordion-summary,
.tsd-accordion-summary > * {
  display: flex;
  align-items: center;
}

.tsd-signatures .tsd-signature,
.tsd-signature {
  border: none;
  border-radius: 10px;
  background: var(--light-code-background);
}

.tsd-signature {
  padding: 1rem;
}

a.tsd-signature-type {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  font-style: normal;
}

a.tsd-signature-type:hover {
  text-decoration: none;
}

.tsd-returns-title,
ul.tsd-parameter-list h5,
ul.tsd-type-parameter-list h5,
.tsd-parameters h5 {
  font-size: 0.9rem;
}

.tsd-parameters h5 {
  margin: 0.5rem 0;
}

.tsd-accordion-details .tsd-index-heading {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

.tsd-index-heading svg {
  margin-right: 5px;
}

ul.tsd-hierarchy li {
  margin-top: 0.4rem;
}

.tsd-panel.tsd-member {
  margin-bottom: 2rem;
}

.tsd-panel h4 {
  font-weight: 600;
}

.tsd-panel-group {
  margin: 2.5rem 0;
}

code.tsd-tag {
  border: none;
  background: var(--color-accent);
  margin-bottom: -5px;
  font-size: 75%;
}

.site-menu .tsd-navigation {
  overflow-y: scroll;
  height: calc(100% - 65px);
}

.tsd-navigation a,
.tsd-navigation summary > span,
.tsd-page-navigation a {
  display: flex;
}

#tsd-search {
  padding: 1rem 1rem 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

#tsd-search.has-focus {
  background: none;
}

#tsd-search input {
  box-shadow: none;
  font-size: var(--font-size-regular);
  border: 1.5px solid var(--separator-color);
  font-weight: 400;
  cursor: text;
  padding: 0.4rem 1rem;
  width: 100%;
}

#tsd-search .results li:nth-child(even),
#tsd-search .results li {
  font-size: 0.8rem;
  background-color: unset;
  padding: 0.1rem 0.4rem;
}

#tsd-search .results li a {
  color: inherit;
  text-decoration: none;
}

#tsd-search .results li.current:not(.no-results),
#tsd-search .results li:hover:not(.no-results) {
  background: var(--light-color-separator);
}

#tsd-search .results li:not(:last-of-type) {
  border-bottom: 0.5px solid var(--light-color-separator);
}

#tsd-search .results li:not(:last-of-type) {
  border-bottom: 0.5px solid var(--light-color-separator);
}

#tsd-search .results {
  max-width: 800px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.99);
  top: 56px;
}

@media (min-width: 770px) {
  #tsd-search .results {
    min-width: 380px;
  }
}

#tsd-search .results .no-results {
  padding: 1rem;
}

.tsd-page-navigation {
  font-size: 14px;
}

.tsd-page-navigation h3 {
  margin-bottom: 1rem;
}

.tsd-internal-warning-banner {
  border-radius: 10px;
  background: var(--light-code-background);
  margin-bottom: 1rem;
  padding: 1rem;
}

#tsd-search {
  transition: background-color 0.1s;
}

#tsd-search .field input,
#tsd-search .title,
#tsd-toolbar-links a {
  transition: opacity 0.1s;
}

#tsd-search input:focus {
  border: 1.5px solid var(--selected-stroke-color);
}

.tsd-navigation a.current {
  font-weight: 600;
  border-radius: 5px;
}

.tsd-page-toolbar {
  background: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  transition: transform 0.1s ease-in-out;
}

#tsd-search-field {
  font-family: var(--font-family-code);
  font-size: 1rem;
}

/* Remove nested padding */
ul > li:only-child > ul:only-child {
  padding: 0;
}

.tsd-page-navigation ul {
  padding-left: 1rem;
}

.tsd-typography {
}

.header-iframe {
}

.tsd-kind-icon-custom {
  background: #ecdceb;
  padding: 0 5px;
  border-radius: 3px;
  font-family: var(--font-family-code);
  font-weight: bold;
  color: #9f0499;
  line-height: 1.4;
  margin-right: 2px;
}

[id^="icon-"] rect {
  stroke: none;
  stroke-width: 0;
  rx: 8px;
}

[id^="icon-"] path {
  stroke-width: 0.5px;
}

#icon-chevronDown path {
  fill: #4b4e5c;
  stroke: white;
  stroke-width: 1.5px;
}

.tsd-breadcrumb {
  font-family: var(--font-family-code);
  font-size: 14px;
}

.container {
  padding: 0 1rem;
}

@media (min-width: 770px) {
  .tsd-filter-visibility {
    padding-left: 1.5rem;
  }
}
