@import "../../../stylesheets/mixins";

.searchBox {
  z-index: 1;
  top: 3rem;
  width: 100%;
}

.searchInput {
  box-shadow: var(--shadow-overlay);
  font-size: var(--font-size-xl);
  padding: 0.8rem 1.2rem;
  border: var(--separator-size) solid var(--separator-color);
  cursor: text;
}

.searchBoxCompact .searchInput {
  box-shadow: none;
  font-size: var(--font-size-regular);
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--separator-color);
  font-weight: 400;

  &::placeholder {
    color: var(--font-color-subtext-dark);
  }
}

.searchBoxCompact .searchInput:focus {
  border: 1.5px solid var(--selected-stroke-color);
}

.searchInput,
.searchSuggestionMenu {
  width: 100%;
}

.searchInput::placeholder {
  text-align: center;
  letter-spacing: -0.2px;
}

.searchSuggestionMenu {
  @include popup;
  border-radius: 0 0 4px 4px;
  list-style: none;
  width: clamp(30rem, 35vw, 40rem);
  max-width: 85vw;
  box-shadow: var(--shadow-overlay);
  position: absolute;
  backdrop-filter: blur(10px);
  margin: -4px 0 0;
  background: var(--primary-bg-color-highlight);

  &:not(:empty) {
    padding: 15px 10px 10px;
  }

  li {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 10px;

    &[aria-selected="true"] {
      background: var(--hover-bg);
    }
  }
}

.resultName {
  font-weight: var(--font-weight-bold);

  .searchHighlight {
    @include selectedLabel;
  }
}

.resultDescription {
  //font-weight: var(--font-weight-light);
  font-size: var(--font-size-sm);
  color: var(--font-color-subtext);
  font-family: var(--font-family-system);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 80vw;

  .searchHighlight {
    color: var(--selected-text-color-subdued);
  }
}

.comboBoxContainer {
  position: relative;
  z-index: 1;
}
