@mixin popup {
  background: var(--primary-bg-color);
  box-shadow: var(
    --shadow-overlay,
    0 4px 8px -2px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31)
  );
  border-radius: 4px;
}

@mixin selectedLabel {
  background: var(--selected-bg);
  color: var(--selected-text-color);
  text-shadow: 0 0 2px var(--primary-bg-color);
}
