.homePageContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.homePageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: -10rem; // offset header and logo
  margin-bottom: 7rem;
}

.tagline {
  margin-bottom: 2rem;
  color: var(--font-color-subtext);
}

.searchContainer {
  margin-bottom: 2rem;
}
