.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoText {
  display: flex;
  max-width: 80%;
}

.logoImg {
  width: 33%;
  height: 100%;
  margin-bottom: 2rem;
  filter: drop-shadow(0 16px 33px rgb(185 221 255 / 72%));
}

.alpha {
  color: var(--selected-text-color-subdued);
  margin-top: 2%;
}
